@using Yaghane360.Components.Services;
@inherits LayoutComponentBase
@* @inject LoadingService LoadingService*@

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="1" Class="navbar-custom-gradient">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />

        <a class="navbar-brand d-flex justify-content-center align-items-center w-100" href="">
            <span>Yaghane360</span>
        </a>


        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
         <div class="pa-4">
            @Body
        </div> 
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}