@page "/"
<PageTitle>Home</PageTitle>

<div class="background-logo">
</div>

<style>
    .background-logo {
        position: relative;
        text-align: center;
        min-height: 100vh;
    }

        .background-logo::before {
            content: "";
            position: absolute;
            padding: 10px;
            inset: 0;
            background: url('favicon.png') no-repeat center 60%;
            background-size: 1250px;
            opacity: 0.5; /* sadece resim şeffaf */
            z-index: 0;
        }

        .background-logo h1{
            position: relative;
            z-index: 1;
            padding: 100px;
            color: black; /* yazılar full siyah */
            font-size: 70px;
        }
</style>


